@import url(https://fonts.googleapis.com/css2?family=Notable&display=swap);
body {
	font-family: 'Notable', Arial, Helvetica, sans-serif;
}

header h1,h2{
	text-align: center;
}

nav ul {
	list-style-type: none;
	text-align: center;
	padding-top: 16px;
	padding-right: 35px;
}
nav ul li{
	display: inline;
	border-right: 2px solid #111111;
	padding-left: 30px;
	padding-right: 30px;
}
nav ul li:last-child {
	border-right: none;
}
nav ul li a {
	text-decoration:none;
	color:#111111;
}

